<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_display_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name="com.zennetvpn.ShanDevzProject.LauncherActivity"
            android:exported="true"
            android:label="@string/app_display_name"
            android:theme="@style/SplashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.zennetvpn.ShanDevzProject.Error"
            android:exported="true" />

        <activity
            android:name="com.zennetvpn.ShanDevzProject.ShanDevzMainActivity"
            android:exported="true"
            android:label="@string/app_display_name" />

        <activity
            android:name="com.zennetvpn.ShanDevzProject.activities.ConfigGeralActivity"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName="com.zennetvpn.ShanDevzProject.ShanDevzMainActivity" />

        <activity
            android:name="com.zennetvpn.ShanDevzService.LaunchVpn"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_display_name"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/AppThemeLogin">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.zennetvpn.ShanDevzService.util.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.zennetvpn.ShanDevzService.MainReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="com.ayothayavpn.ultrasshservice.MainReceiver.ACTION_SERVICE_STOP"/>
                <action android:name="com.ayothayavpn.ultrasshservice.MainReceiver.ACTION_SERVICE_RESTART"/>
            </intent-filter>

        </receiver>

        <service
            android:name="com.zennetvpn.ShanDevzService.tunnel.vpn.TunnelVpnService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_display_name"
            android:permission="android.permission.BIND_VPN_SERVICE">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

        </service>

        <service
            android:name="com.zennetvpn.ShanDevzService.ShanDevzService"
            android:exported="false"
            android:label="@string/app_display_name"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/SHAN_appid" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>
